/* Header area background */
.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Custom css - Navbar */
.nav-link {
  color: white;
}

.nav-item > .nav-link:hover {
  color: black;
}

.h1-font-size {
  font-size: 3rem;
}

/* Download btn size */
.download-btn {
  padding: 6x 16px;
  font-size: 0.9rem;
}

/* svg background */
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

/* dog image */
.profile-img {
  height: 100px;
  border-radius: 50%;
}

/* h2 pricing header size */
.pricing-header > h2 {
  font-size: 3rem;
}

/* h5 pricing size */
.card-body > h5 {
  font-size: 2.4rem;
}
