/* Red rectangle */
/* Style flag and positioning for first rectangle */
.flag {
  background-color: rgb(206, 17, 38);
  height: 600px;
  width: 900px;

  position: relative;
}

/* Blue rectangle */
/* Set the second rectangle and add on top */
div.flag > div {
  background-color: rgb(0, 40, 104);
  height: 300px;
  width: 100%;

  position: absolute;
  top: 25%;
}

/* White circle */
/* Set circle centered in the rectangle */
.flag div div {
  background-color: rgb(255, 255, 255);
  height: 200px;
  width: 200px;
  border-radius: 50%;

  position: relative;
  top: 50px;
  left: 350px;
}

/* Add text centered both inside the circle and at the top */
p {
  margin: 0;

  color: white;
  font-size: 5rem;
  text-align: center;
}

.flag div div p {
  color: black;
}
