body {
  background-color: gray;
}

/* Fixed Size - fixed, not responsive */
/* .grid-container {
  display: grid;
  grid-template-rows: 100px 200px;
  grid-template-columns: 400px 800px;
  gap: 10px;
} */

/* Auto Size - a little bit of responsiveness */
/* rows - auto - fit content */
/* columns - auto (extensible) - 100% of the width */
.grid-container {
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 200px auto;
  gap: 10px;
}

.grid-item {
  background-color: purple;
  font-size: 3rem;
}
